


<div class="ibox-content">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><%= f.label :deckName %><br><%= f.text_area :deckName %>
                            </th>

                         </tr>
                         <tr>  
                            <th><%= f.label :cardQty %><br><%= f.text_area :cardQty %>
                            </th>
                            <th><%= f.label :cardName %><br><%= f.text_area :cardName %>
                            </th>
                            <th><%= f.label :castingCost %><br><%= f.text_area :castingCost %>
                            </th>
                            <th><%= f.label :setName %><br><%= f.text_area :setName %>
                            </th>
                         </tr>

                          <tr>
                            <th><button  class="btn btn-default btn-lg btn-block"><%= f.submit %></button> 
                            </th> 
                            <th> 
                            </th>
                            <th>
                            </th>
                         </tr>
                        
                        </thead>
                    </table>
                    </div>





deckName
ardQty 
cardName
manaCost
setNam