<%= form_for(@deck, :html => { :multipart => true}) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="ibox-content">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>


                         </tr>
                         <tr>  
                            <th><%= f.label :deckID %><br><%= f.text_area :deckID %>
                            </th>
                            <th><%= f.label :dateCreated %><br><%= f.text_area :dateCreated %>
                            </th>
                            <th><%= f.label :deckName %><br><%= f.text_area :deckName %>
                            </th>
                            <th><%= f.label :deckType %><br><%= f.text_area :deckType %>
                            </th>
                            <th><%= f.label :deckDescription %><br><%= f.text_area :deckDescription %>
                            </th>
                            <th><%= f.label :totalCards %><br><%= f.text_area :totalCards %>
                            </th>
                         </tr>

                          <tr>
                            <th><button  class="btn btn-default btn-lg btn-block"><%= f.submit %></button> 
                            </th> 
                            <th> 
                            </th>
                            <th>
                            </th>
                         </tr>
                        
                        </thead>
                    </table>
                    </div>
  <% end %>